@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

body {
  font-family: 'Poppins', sans-serif !important;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  /* background-attachment: fixed; */
  background-size: 400% 400%;
  scrollbar-width: none;
  color: #fff;
  animation: gradient 5s ease infinite;
  
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.viewPage{
  height: 100vh;
  position: relative;
}
 



.genShadow{
  box-shadow:  0rem 0rem 20px rgba(0, 0, 0, 0.15) !important;
}

nav{
  z-index: 1 !important;
  position: fixed;
  color: white;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.2); 
   backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  
}

nav a{
  font: larger;
  font-weight: 400;
  margin: 10px;
}

nav a:hover{
  color: #00aeff;
  cursor: pointer;
}






h1,h2,h3,p{
  color:white;
}

.navMobile{
  margin:5px;
  padding: 10px;
  border-radius: 7px;
}

.dropdown-toggle::after {
  display: none !important; 
}

.btnMenu>button{
  background: none;
  border:none;
}