@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

body {
  font-family: 'Poppins', sans-serif !important;
  background-image: -webkit-radial-gradient(#00aeff, #bef0ffa4);
  background-attachment: fixed;
  scrollbar-width: none;
  color: #fff;
}

.viewPage{
  height: 100vh;
  position: relative;
}
 

.specialText{
  background: -webkit-linear-gradient(white, #0a4561);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.genShadow{
  box-shadow:  0rem 0rem 20px rgba(0, 0, 0, 0.15) !important;
}

nav{
  z-index: 0 !important;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  
}

nav a{
  font: larger;
  font-weight: 400;
  margin: 10px;
}

nav a:hover{
  color: #00aeff;
  cursor: pointer;
}

.colorBg{

}

.rocketImg{
  animation: Bounce;
  transition: 0.5s ease;
  transform: rotate(20deg);
}

@keyframes Bounce {
  0%{
    

  };
  100%{
    margin-bottom: 30px;
  }
  
}